[Desktop Entry]
Name=TicTacToe
GenericName=TicTacToe game
Comment=Popular, logic game
Exec=TicTacToe
Icon=TicTacToe
Terminal=false
Type=Application
Categories=Game;
